h1{color:green;}
body{color:blue;
	background-position:center;
	background-attachment:fixed;
	background-position:right;
	background-color:yellow;
	background-repeat:no-repeat;}
img{border-width:10px;border-height:30;border-color:yellow;border-style:dashed;}
